<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_IDENTIFIER_BASE</key>
	<string>$(BUNDLE_IDENTIFIER_BASE)</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.intii.CopilotForXcode.ExtensionService.Extension</string>
	</dict>
	<key>TEAM_ID_PREFIX</key>
	<string>$(TeamIdentifierPrefix)</string>
</dict>
</plist>
